<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<nav>
    <div class="news-Heading">
        <h1 >BLOG FEVER</h1>
        <p>Welcome to the best blog page</p>
    </div>

    <ul>
        <li><b class="fas fa-bars"></b></li>
        <li><a href = "/home">Home</a></li>
        <li><a href="/addblogs">New Blog</a></li>
        <li><a href = "/contact">Contact</a></li>
        <li><a href = "/about">About</a></li>
        <li><a href="/login">Login</a></li>
    </ul>


</nav>
