<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header')%>
<body>

    <%- include('./partials/navigation') %>

    <h1>About</h1>
    <p>This site is for free bloggers and it can also be used for sharing views of someone who is talented.</p>
    
<%- include('./partials/footer') %>
</body>
</html>